.container {
  padding: 40px 20px;
  border-radius: 30px;
  width: 100%;
  background-color: var(--fifth-font-color);
}

@media screen and (min-width: 375px) {
  .container {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 847px;
    padding-bottom: 53px;
  }
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--main-font-color);
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 114%;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    margin-bottom: 44px;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contentContainer {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .contentContainer {
    margin-bottom: 25px;
  }
}

.image {
  border-radius: 8px;
  width: 137px;
  height: 208px;
}

@media screen and (min-width: 768px) {
  .image {
    width: 169px;
    height: 256px;
  }
}

@media screen and (min-width: 1440px) {
  .image {
    width: 224px;
    height: 340px;
  }
}

.bookTitle {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--main-font-color);
  max-width: 146px;
}

@media screen and (min-width: 768px) {
  .bookTitle {
    font-size: 20px;
    line-height: 100%;
    max-width: none;
    margin-top: 25px;
    margin-bottom: 4px;
  }
}

.bookAuthor {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--secondary-font-color);
}

@media screen and (min-width: 768px) {
  .bookAuthor {
    font-size: 14px;
    line-height: 129%;
  }
}

.startIcon {
  width: 40px;
  height: 40px;
  stroke-width: 2px;
  margin: 0 auto;
  stroke: var(--main-font-color);
  fill: var(--error-message-color);
}

@media screen and (min-width: 768px) {
  .startIcon {
    width: 50px;
    height: 50px;
  }
}

.pauseIcon {
  width: 40px;
  height: 40px;
  stroke-width: 2px;
  margin: 0 auto;
  fill: var(--error-message-color);
  border-color: transparent;
}

@media screen and (min-width: 768px) {
  .pauseIcon {
    width: 50px;
    height: 50px;
  }
}

.defaultcontainer {
  padding: 40px 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--fifth-font-color);
  gap: 25px;
}

@media screen and (min-width: 375px) {
  .defaultcontainer {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .defaultcontainer {
    width: 704px;
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 40px;
    gap: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .defaultcontainer {
    width: 847px;
    padding-bottom: 53px;
    gap: 40px;
    height: 651px;
    justify-content: center;
  }
}

.message {
  color: var(--main-font-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
}

.imageBookShelf {
  align-self: center;
}
