.container {
  display: none;
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    gap: 14px;
    border-radius: 12px;
    width: 313px;
    height: 83px;
    background: var(--fourth-font-color);
    padding: 15px 20px;
    align-items: center;
  }

  .text {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--secondary-font-color);
  }

  .span {
    color: var(--main-font-color);
  }
}
