.formContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .formContainer {
    gap: 14px;
  }
}

.fieldContainer {
  border-radius: 12px;
  height: 44px;
  background-color: var(--fourth-font-color);
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .fieldContainer {
    height: 50px;
    width: 472px;
  }
}

.label {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--secondary-font-color);
  padding-left: 14px;
}

@media screen and (min-width: 768px) {
  .label {
    font-size: 14px;
    line-height: 129%;
  }
}

.field {
  border: none;
  outline: none;
  color: var(--main-font-color);
  background-color: inherit;
  height: 44px;
}

@media screen and (min-width: 768px) {
  .field {
    height: 50px;
  }
}

.field::placeholder {
  font-size: 12px;
  font-weight: 500;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: var(--main-font-color);
}

.field:focus::placeholder {
  color: transparent;
}

@media screen and (min-width: 768px) {
  .field::placeholder {
    font-size: 14px;
    line-height: 129%;
  }
}

.errorMsg {
  color: var(--error-message-color);
  font-size: 11px;
}

.buttonContainer {
  display: flex;
  gap: 14px;
  align-items: center;
  align-content: start;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .buttonContainer {
    gap: 20px;
    margin-top: 82px;
  }
}

.button {
  border-radius: 30px;
  padding: 12px 29px;
  width: 140px;
  height: 42px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.02em;
  color: var(--fifth-font-color);
  cursor: pointer;
}

.accountBtn {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--secondary-font-color);
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  cursor: pointer;
}
