.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 21px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 27px 25x;
  }
}

@media screen and (min-width: 1440px) {
  .list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 27px 20px;
  }
}

.item {
  width: 137px;
}

.image {
  border-radius: 8px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--main-font-color);
  margin-bottom: 2px;
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--secondary-font-color);
}

.btn {
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  width: 141px;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.02em;
  background-color: transparent;
  color: var(--main-font-color);
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

@media screen and (min-width: 768px) {
  .btn {
    width: 159px;
    height: 46px;
    font-size: 16px;
    line-height: 112%;
    margin-top: 32px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .btn {
    width: 162px;
  }
}
