.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}

.pageTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--secondary-font-color);
  text-decoration: none;
}

.active {
  position: relative;
  color: var(--main-font-color);
}

.active::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -4px;
  border-radius: 8px;
  height: 4px;
  background-color: var(--decorative-blue-color);
  stroke-width: 3px;
  width: 100%;
}

.icon {
  width: 28px;
  height: 28px;
  fill: none;
  stroke: var(--main-font-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .iconContainer {
    display: none;
  }
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.closeIcon {
  height: 28px;
  width: 28px;
  stroke: var(--main-font-color);
  /* padding-top: 34px; */
}

.logoutBtn {
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  width: 91px;
  height: 38px;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
}
