:root {
  --main-bg-color: #141414;
  --main-font-color: #f9f9f9;
  --secondary-font-color: #686868;
  --third-font-color: #e3e3e3;
  --fourth-font-color: #262626;
  --fifth-font-color: #1f1f1f;
  --decorative-blue-color: #4f92f7;
  --decorative-green-color: #30b94d;
  --error-message-color: #e90516;
  /* margin: 20px; */
}

@font-face {
  font-family: "GilroyMedium";
  src: url("./assets/fonts/gilroy-medium.ttf") format("truetype");
}

@font-face {
  font-family: "GilroyBold";
  src: url("./assets/fonts/gilroy-bold.ttf") format("truetype");
}

@font-face {
  font-family: "SfProTextSemibold";
  src: url("./assets/fonts/sf-pro-text-semibold.otf") format("opentype");
}

body {
  font-family: "GilroyMedium", sans-serif;
  background-color: var(--main-bg-color);
  line-height: 1.5;
  margin: 20px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  display: block;
  width: 100px;
  height: 100px;
  fill: currentColor;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus::placeholder {
  color: transparent;
}
