.header {
  border-radius: 15px;
  height: 57px;
  width: 100%;
  background: var(--fifth-font-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  align-content: center;
  align-self: center;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .header {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 704px;
    height: 74px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    width: 1216px;
  }
}

.titleContainer {
  display: none;
}

@media screen and (min-width: 768px) {
  .titleContainer {
    display: flex;
    gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .pageTitle {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: -0.02em;
    color: var(--secondary-font-color);
    text-decoration: none;
  }

  .active {
    color: var(--main-font-color);
  }
}

.profileIcon {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  fill: var(--fourth-font-color);
  stroke-width: 1px;
  stroke: rgba(249, 249, 249, 0.2);
}

@media screen and (min-width: 768px) {
  .profileIcon {
    width: 40px;
    height: 40px;
  }
}

.icon {
  width: 28px;
  height: 28px;
  fill: none;
  stroke: var(--main-font-color);
  cursor: pointer;
  /* background-color: transparent; */
}

@media screen and (min-width: 768px) {
  .iconContainer {
    display: none;
  }
}

.logoutBtn {
  display: none;
}

@media screen and (min-width: 768px) {
  .logoutBtn {
    border: 1px solid rgba(249, 249, 249, 0.2);
    border-radius: 30px;
    width: 114px;
    height: 42px;
    background-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: var(--main-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
